<div class="container">
	<div class="row justify-content-center">	
		<div class="col-7">
			<%= render 'shared/errors', obj: @user %>
        <%= form_with(model: @user,  class: "shadow p-3 mb-3 bg-placeholder rounded", local: true) do |f| %>
					<div class="row mb-3">
						<%= f.label :username, class: "col-2 col-form-label text-light fw-bold" %>
						<div class="col-7">
							<%= f.text_field :username, class: "form-control shadow-lg rounded" %>
						</div>
					</div>

					<div class="row mb-3">
							<%= f.label :email, class: "col-2 col-form-label text-light fw-bold"  %>
						<div class="col-7">
							<%= f.email_field :email, class: "form-control shadow-lg rounded" %>
						</div>
					</div>

          <div class="row mb-3">
            <%= f.label :password, class: "col-2 col-form-label text-light fw-bold"  %>
            <div class="col-7">
              <%= f.password_field :password, class: "form-control shadow-lg rounded" %>
            </div>
          </div>
					<div class="text-center">
						<%= f.submit "Sign up", class: "btn btn-primary btn-lg shadow-lg" %>
					</div>
				<% end %>
		</div>
		<%= link_to '[ Cancel ]', articles_path, class: "text-secondary text-center no-dec" %>
	</div>
</div>