<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<style>
  div {
    font-family: 'Montserrat';
  }
</style>

<div class="container">
  <div class="bg-violet text-light p-5 rounded mt-3 shadow" id="home-banner">
    <h1 class="display-4">A.K.A fe1o</h1>
    <p class="lead">A Ruby on Rails developer from Brazil.</p>
    <hr class="my-4">
    <%= button_to 'Sign up', signup_path, method: :get, class: "btn btn-success btn-lg" %>
  </div>
</div>

<div class="container" id="at-btns" style="padding-top: 8px;">
  <% @articles.each do |article| %>
    <div class="container my-3">
      <div class="card shadow-lg" style="width: 18rem; height: 13rem;">
        <div class="card-body">
          <h5 class="card-title fw-bold"><%= truncate(article.title, length: 20) %></h5>
          <p class="card-text"><%= truncate(article.description, length: 100) %></p>
          <%= button_to 'View', article_path(article), method: :get, class: "btn btn-primary btn-bottom" %>
          <small class="fst-italic date-bottom">| Created at <%= time_ago_in_words(article.created_at) %> ago |</small>
        </div>
      </div>
    </div>
  <% end %>
</div>